/* *{
background: linear-gradient(30deg ,#800080 ,#ffd6ff);

} */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container{
  background:#800080 ;
  border: 1px solid #ffd6ff;
  font-size: 30px;
  font-style: italic;
  padding: 100px ;
  height: 55vh;
  width: 55vh;
}
.que{
  font-size: 100%;
  width: 100%;
  margin-bottom: 20px;
}
.option-button{
 width: 90%;
 height: 50px;
 transition: all 0.1 ease-in-out;
}
.option-button:hover{
  background:#b15cb1 ;
  border: none;
  width: 100%;
 height: 60px;
}
.checked {
  background:#f559f5 ;
  border: none;   
  width: 100%;
 height: 60px;
}